In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
plt.style.use(['dark_background'])
import seaborn as sns
sns.set(color_codes=True)

In [2]:
style.use('seaborn-ticks')
sns.set(color_codes=True)

# Tabulation

In [3]:
url = 'https://api.covid19india.org/states_daily.json'

In [4]:
import urllib.request as req
req.urlretrieve(url,'data.json')

('data.json', <http.client.HTTPMessage at 0x162f7b6dbe0>)

In [7]:
data=pd.read_json('data.json')

In [8]:
data

                                          states_daily
0    {'an': '0', 'ap': '1', 'ar': '0', 'as': '0', '...
1    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
2    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
3    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
4    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
..                                                 ...
841  {'an': '7', 'ap': '497', 'ar': '11', 'as': '10...
842  {'an': '0', 'ap': '4', 'ar': '0', 'as': '1', '...
843  {'an': '6', 'ap': '438', 'ar': '1', 'as': '0',...
844  {'an': '13', 'ap': '589', 'ar': '17', 'as': '0...
845  {'an': '0', 'ap': '2', 'ar': '0', 'as': '0', '...

[846 rows x 1 columns]

In [9]:
import json
with open('data.json') as f:
    d=json.load(f)

In [ ]:
d=d['states_']